#section-intro p {
    font-size: 2rem;
    text-align: left;
    max-width: 700px;
    line-height: 3.5rem;
  }

  h2 {
    margin-top: 4rem;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  #section-intro button {
    text-align: left;
    font-size: 2rem;
    margin: 2rem 0rem 3rem 0rem;
  }

  #section-about p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
    font-weight: 300;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  li {
    margin: 3px 3px;
    font-size: .9rem;
    text-align: left;
  }

  #section-skills p,
  #section-contact p {
    font-size: 1.2rem;
    text-align: left;
  }