/* body {
    background-color: #E9E9E9;
    font-family: 'Rubik', sans-serif;
    position: relative;
} */

h2 {
    padding: 80px 0px 50px 0px;
}


#project {
    padding-bottom: 50px;
}

.badge-secondary {
    background-color: #050552;
}

.ti-angle-down {
    font-size: 15px;
    font-weight: bold;
}


@media (min-width:320px) {
    #project img {
        width: 100%;
        height: 100%;
    }
    h2 {
        font-size: 1.2rem;
        padding: 80px 0px 30px 0px;
    }
    .h5 {
        font-size: 0.9rem;
    }

    .badge {
        font-size: 68%;
    }

    p {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.9rem;
    }
}

@media (min-width:600px) {
    #project img {
        width: 100%;
        height: 100%;
    }
}

/* Dark Theme */
/* .dark-theme {
    background-color: #071521;
    color: #fff;
} */
.dark-theme #project,
.dark-theme .portfolio,
.dark-theme a {
    background-color: #071521;
    color: #fff;
}

.dark-theme .badge-secondary {
    background-color: #000;
    color: #fff;
}